<figure {{ with .class }}class="{{.}}"{{ end }}>
    {{ with .link }}<a href="{{.}}">{{ end }}
        <img src="{{ .src }}{{with .query_string}}{{.}}{{end}}" {{ if or (.alt) (.caption) }}alt="{{ with .alt }}{{.}}{{else}}{{ .caption }}{{ end }}" {{ end }}{{ with .width }}width="{{ . }}" {{ end }}/>
    {{ if .link }}</a>{{ end }}

    {{ if or (or (.title) (.caption)) (.attr) }}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .title }}</h4>{{ end }}
        {{ if or (.caption) (.attr)}}<p>
        {{ .caption }}
        {{ with .attrlink }}<a href="{{ . }}"> {{ end }}
            {{ .attr }}
        {{ if .attrlink }}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
