{{ define "main" }}
{{$section := .Site.GetPage "section" .Section}}
  <div class="mw8 center ph4 pt5">
    <h1 class="accent-color f1 mb2">{{$section.Title}}</h1>
    {{with $section.Params.description}}
      <p class="lh-copy">{{.}}</p>
    {{end}}
    <section class="pt5 min-vh-100">
      {{range .Paginator.Pages}}
        <div class="relative w-100 mb4">
          {{ partial "summary.html" (dict "item" . )}}
        </div>
      {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
