<footer class="bottom-0 w-100 pa4 {{$.Param "styles.footer"}}" role="contentinfo">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <a class="f7 fw4 hover-white no-underline ph3 sans-serif text-color-secondary" href="{{ .Site.BaseURL }}" >
        &copy; {{ now.Format "2006" }} {{ .Site.Title }}
      </a>
      {{ with .Site.GetPage "page" "privacy-policy.md" }}
        <a class="f7 fw4 hover-white no-underline ph3 sans-serif text-color-secondary" href="/privacy-policy/" >Privacy Policy</a>
      {{ end }}
      {{ partial "social-follow.html" . }}
    </div>

    <a class="dn dib-ns f7 fw4 hover-gray no-underline ph3 pv2 sans-serif moon-gray" href="https://thenewdynamic.com" >
      site by the New Dynamic
    </a>
  </div>
</footer>
